<div class="row">
  <div class="offset-md-2 col-md-8">
    <nav mat-tab-nav-bar class="mat-elevation-z8" >
      <a mat-tab-link label="Welcome" [active]="getLocation() === '/welcome'" routerLink="/welcome">Willkommen</a>
      <a mat-tab-link label="Encounter" [active]="getLocation() === '/encounters'" routerLink="/encounters">Boss Planer</a>
      <!--<a mat-tab-link label="Players" [active]="getLocation() === '/players'" routerLink="/players">Players</a>-->
    </nav>
    <div class="card card-block">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
