<div class="row">
  <div class="offset-md-2 col-md-8">
    <div class="card card-block">
      <ul class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active"
           [class.active]="getLocation() === '/encounters'"
           routerLink="/encounters">Encounters</a>
        <a class="nav-item nav-link active"
           [class.active]="getLocation() === '/players'"
           routerLink="/players">Players</a>
      </ul>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
